@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed'); /* 'Ubuntu Condensed' */
@import url('https://fonts.cdnfonts.com/css/cinematografica');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap'); /* 'Exo 2' */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap'); /* 'Exo' */


/* Шапка ------------------------------------------------------------- */

/* Шапка общие элементы --------------------------- */

/* Шапка общее */
.hat {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Шапка закругленная линия - активная */
#act_144_bg-line1, #act_720_bg-line1 {
    width: 1200px;
}

/* Шапка закругленная линия - не активная */
#act_144_bg-line2, #act_720_bg-line2 {
    position: absolute;
    opacity: 0;
    width: 1200px;
}

/* Шапка фон-изображение */
#act_144_bg-img, #act_720_bg-img {
    position: absolute;
    width: 1200px;
}

/* Шапка лого-текст */
#act_144_logo-txt, #act_720_logo-txt {
    top: 203px;
    position: absolute;
    width: 110px;
}

/* Шапка фон-паралакс min */
.parallax-hat-144-min, .parallax-hat-720-min {
  height: 222px;
  width: 1187px;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 16px;
  border-radius: 0 0 87px 87px;
  background-size: 1200px;
  background-position: center 0px;
}

/* Шапка фон-паралакс min 144 */
.parallax-hat-144-min {
  background-image: url('../media/design/hat/144-bw.png');
}

/* Шапка фон-паралакс min 720 */
.parallax-hat-720-min {
  background-image: url('../media/design/hat/720-bw.png');
}

/* Шапка фон-паралакс max */
.parallax-hat-144-max, .parallax-hat-720-max {
  height: 498px;
  width: 1187px;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 16px;
  border-radius: 0 0 87px 87px;
  background-size: 1200px;
  background-position: center 0px;
}

/* Шапка фон-паралакс max 144 */
.parallax-hat-144-max {
  background-image: url('../media/design/hat/144-bw.png');
}

/* Шапка фон-паралакс max 720 */
.parallax-hat-720-max {
  background-image: url('../media/design/hat/720-bw.png');
}

/* Шапка фон-паралакс min 144 */
.parallax-index-144 {
  height: 150px;
  width: 1000px;
  margin-left: -150px;
  background-image: url('../media/design/hat/144-color.png');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  background-size: 1200px;
  background-position: center 0px;
}

/* Шапка фон-паралакс min 720 */
.parallax-index-720 {
  height: 150px;
  width: 1000px;
  margin-left: -150px;
  background-image: url('../media/design/hat/720-color.png');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  background-size: 1200px;
  background-position: center 0px;
}

/* Шапка лого-картинка ---------------------------- */

/* Контейнер лого-картинки */
.bot-logo-round, .bot-logo-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Элементы лого-бота PNG - квадратная рамка */
.bot-logo-square img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 108px;
    width: 150px;
    height: 150px;
    clip-path: inset(5px 5px 5px 5px round 30px);
    border-radius: 34px;
}

/* Элементы лого-бота PNG - круглая рамка */
.bot-logo-round img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 108px;
    width: 150px;
    height: 150px;
    clip-path: inset(0px 0px 0px 0px round 1px);
    border-radius: 100px;
}

/* Элементы лого-бота PNG - квадратная рамка */
.bot-logo-square #bot-frame-square {
    width: 151px;
    height: 151px;
    box-shadow: inset 0 0 0 8px RGB(48, 48, 48);
}

/* Элементы лого-бота PNG - круглая рамка */
.bot-logo-round #bot-frame-round {
    width: 151px;
    height: 151px;
    box-shadow: inset 0 0 0 3px RGB(48, 48, 48);
}


/* Шапка элементы 144 ----------------------------- */

/* Горизонтальная линия */
.line-blue {
    border-bottom: 5px solid RGB(0, 157, 224);
    border-radius: 10px;
}

/* Кнопка-картинка не активная */
#act_144_but-720-red, #act_144_but-720-gray {
    top: 218px;
    margin-left: 216px;
    position: absolute;
    width: 50px;
}

/* Кнопка-картинка не активная */
#act_144_but-720-red {
    opacity: 0;
}

/* Кнопка-картинка активная */
#act_144_but-144-blue, #act_144_but-144-gray {
    top: 218px;
    margin-left: -216px;
    position: absolute;
    width: 50px;
}

/* Кнопка 720 */
#act_144_button-720 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 720 */
#act_144_button-720 img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 218px;
    margin-left: -517px;
    position: absolute;
    width: 50px;
    opacity: 0;
}

/* Кнопка 144 */
#act_144_button-144 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 144 */
#act_144_button-144 img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 218px;
    margin-left: -733px;
    position: absolute;
    width: 50px;
    opacity: 0;
}


/* Шапка элементы 720 ----------------------------- */

/* Горизонтальная линия */
.line-red {
    border-bottom: 5px solid RGB(226, 0, 26);
    border-radius: 10px;
}

/* Кнопка-картинка активная */
#act_720_but-720-red, #act_720_but-720-gray {
    top: 218px;
    margin-left: 216px;
    position: absolute;
    width: 50px;
}

/* Кнопка-картинка не активная */
#act_720_but-144-blue, #act_720_but-144-gray {
    top: 218px;
    margin-left: -216px;
    position: absolute;
    width: 50px;
}

/* Кнопка-картинка не активная */
#act_720_but-144-blue {
    opacity: 0;
}

/* Кнопка 720 */
#act_720_button-720 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 720 */
#act_720_button-720 img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 218px;
    margin-left: -517px;
    position: absolute;
    width: 50px;
    opacity: 0;
}

/* Кнопка 144 */
#act_720_button-144 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 144 */
#act_720_button-144 img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 218px;
    margin-left: -733px;
    position: absolute;
    width: 50px;
    opacity: 0;
}


/* Шапка переключение языка ----------------------- */

/* Шапка блок языка */
.hat-languages-144, .hat-languages-720, .hat-languages-144-big, .hat-languages-720-big {
    position: absolute;
    margin-top: -190px;
    margin-left: 1110px;
    width: 68px;
    height: 26px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Шапка блок языка - создать */
.hat-languages-144-big, .hat-languages-720-big {
    margin-top: -467px;
}

/* Шапка блок языка - 144 */
.hat-languages-144, .hat-languages-144-big {
    background-color: RGB(0, 157, 224);
}

/* Шапка блок языка - 720 */
.hat-languages-720, .hat-languages-720-big {
    background-color: RGB(226, 0, 26);
}

/* Шапка блок языка - кнопки */
.button-hat-ru-active-144, .button-hat-en-not-active-144, .button-hat-ru-not-active-144, .button-hat-en-active-144,
.button-hat-ru-active-720, .button-hat-en-not-active-720, .button-hat-ru-not-active-720, .button-hat-en-active-720 {
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    width: 30px;
    height: 20px;
    color: white;
    border: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    margin-top: 3px;
    margin-left: 3px;
}

/* Шапка блок языка - кнопки - 144 */
.button-hat-en-not-active-144 {
    margin-left: 35px;
    background: RGB(0, 157, 224);
}

/* Шапка блок языка - кнопки - 144 */
.button-hat-en-active-144 {
    margin-left: 35px;
    color: RGB(0, 157, 224);
    background: white;
}

/* Шапка блок языка - кнопки - 144 */
.button-hat-ru-not-active-144 {
    background: RGB(0, 157, 224);
}

/* Шапка блок языка - кнопки - 144 */
.button-hat-ru-active-144 {
    color: RGB(0, 157, 224);
    background: white;
}

/* Шапка блок языка - кнопки - 720 */
.button-hat-en-not-active-720 {
    margin-left: 35px;
    background: RGB(226, 0, 26);
}

/* Шапка блок языка - кнопки - 720 */
.button-hat-en-active-720 {
    margin-left: 35px;
    color: RGB(226, 0, 26);
    background: white;
}

/* Шапка блок языка - кнопки - 720 */
.button-hat-ru-not-active-720 {
    background: RGB(226, 0, 26);
}

/* Шапка блок языка - кнопки - 720 */
.button-hat-ru-active-720 {
    color: RGB(226, 0, 26);
    background: white;
}


/* Шапка раздел создать ---------------------------------------------- */

/* Шапка общие элементы --------------------------- */

/* Шапка лого-текст */
#act_144_logo-txt-big, #act_720_logo-txt-big {
    top: 480px;
    position: absolute;
    width: 110px;
}

/* Шапка лого-текст */
#act_144_logo-txt, #act_720_logo-txt {
    top: 203px;
    position: absolute;
    width: 110px;
}

/* Шапка элементы 144 ----------------------------- */

/* Горизонтальная линия */
.line-blue {
    border-bottom: 5px solid RGB(0, 157, 224);
    border-radius: 10px;
}

/* Кнопка-картинка не активная */
#act_144_but-720-red-big, #act_144_but-720-gray-big {
    top: 495px;
    margin-left: 216px;
    position: absolute;
    width: 50px;
}

/* Кнопка-картинка не активная */
#act_144_but-720-red-big {
    opacity: 0;
}

/* Кнопка-картинка активная */
#act_144_but-144-blue-big, #act_144_but-144-gray-big {
    top: 495px;
    margin-left: -216px;
    position: absolute;
    width: 50px;
}

/* Кнопка 720 */
#act_144_button-720-big {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 720 */
#act_144_button-720-big img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 495px;
    margin-left: -517px;
    position: absolute;
    width: 50px;
    opacity: 0;
}

/* Кнопка 144 */
#act_144_button-144-big {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 144 */
#act_144_button-144-big img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 495px;
    margin-left: -733px;
    position: absolute;
    width: 50px;
    opacity: 0;
}


/* Шапка элементы 720 ----------------------------- */

/* Горизонтальная линия */
.line-red {
    border-bottom: 5px solid RGB(226, 0, 26);
    border-radius: 10px;
}

/* Кнопка-картинка активная */
#act_720_but-720-red-big, #act_720_but-720-gray-big {
    top: 495px;
    margin-left: 216px;
    position: absolute;
    width: 50px;
}

/* Кнопка-картинка не активная */
#act_720_but-144-blue-big, #act_720_but-144-gray-big {
    top: 495px;
    margin-left: -216px;
    position: absolute;
    width: 50px;
}

/* Кнопка-картинка не активная */
#act_720_but-144-blue-big {
    opacity: 0;
}

/* Кнопка 720 */
#act_720_button-720-big {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 720 */
#act_720_button-720-big img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 495px;
    margin-left: -517px;
    position: absolute;
    width: 50px;
    opacity: 0;
}

/* Кнопка 144 */
#act_720_button-144-big {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Кнопка 144 */
#act_720_button-144-big img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    top: 495px;
    margin-left: -733px;
    position: absolute;
    width: 50px;
    opacity: 0;
}


/* Создать бота ------------------------------------------------------ */

/* Изображение бота ------------------------------- */

/* Контейнер картинки */
.bot-create-round, .bot-create-square {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Элементы бота PNG - квадратная рамка */
.bot-create-square img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 240px;
    width: 400px;
    height: 400px;
    clip-path: inset(20px 20px 20px 20px round 60px);
    border-radius: 80px;
}

/* Элементы бота PNG - круглая рамка */
.bot-create-round img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 240px;
    width: 400px;
    height: 400px;
    clip-path: inset(0px 0px 0px 0px round 200px);
    border-radius: 200px;
}

.bot-create-square #bot-frame-square {
    width: 401px;
    height: 401px;
    box-shadow: inset 0 0 0 22px RGB(48, 48, 48);
}

.bot-create-round #bot-frame-round {
    width: 401px;
    height: 401px;
    box-shadow: inset 0 0 0 2px RGB(48, 48, 48);
}


/* Кнопки и рамка создание бота ------------------- */

/* Контейнер всех кнопок создать бота */
.button-create {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: absolute;
    right: 50%;
    transform: translateX(350px);
    top: 106px;
    height: 300px;
}

/* Контейнер кнопок в линию */
.button-row {
    display: flex;
    margin-top: 3px;
}

/* Кнопка предыдущий элемент */
.btn-back {
    width: 10px;
    height: 30px;
    background: RGB(48, 48, 48);
    color: #fff;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    position: relative;
    line-height: 10px;
    font-size: 10px;
    cursor: pointer;
}

/* Кнопка предыдущий элемент - стрелочка */
.btn-back::before {
    content: '';
    display: block;
    border-right: 15px solid RGB(48, 48, 48);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -12px;
    top: 0;
}

/* Кнопка предыдущий элемент - линия */
.btn-back::after {
    content: '';
    width: 60px;
    height: 2px;
    background: RGB(48, 48, 48);
    position: absolute;
    left: -40px;
    bottom: 0;
    transform: translateX(-50%);
    top: 14px;
}

/* Кнопка следующий элемент */
.btn-forward {
    font-family: 'Exo 2', sans-serif;
    width: 104px;
    height: 30px;
    background: RGB(48, 48, 48);
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    position: relative;
    line-height: 10px;
    font-size: 10px;
    cursor: pointer;
    left: 3px;
    text-align: left;
    padding-left: 10px;
}

/* Кнопка следующий элемент - стрелочка */
.btn-forward::before {
    content: '';
    display: block;
    border-left: 15px solid RGB(48, 48, 48);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: -12px;
    top: 0;
}

/* Прямоугольник характеристики бота */
.rounded-rectangle {
    width: 300px;
    height: 261px;
    border-radius: 20px;
    background-color: RGB(48, 48, 48);
    position: absolute;
    margin-left: -430px;
    top: 109px;
}

/* Прямоугольник характеристики бота - текст P */
.rounded-rectangle p {
    font-family: 'Exo 2', sans-serif;
    color: rgb(204, 204, 204);
    font-size: 12px;
    margin-top: -13px;
    margin-left: 20px;
}

/* Прямоугольник характеристики бота - текст P аксессуаров */
.btn-delete-accessory p {
    font-family: 'Exo 2', sans-serif;
    color: rgb(204, 204, 204);
    font-size: 12px;
    margin-top: -13px;
    margin-left: 20px;
}

/* Прямоугольник характеристики бота - текст H3 */
.rounded-rectangle h3 {
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    font-size: 13px;
    margin-top: 17px;
    margin-bottom: 15px;
    margin-left: 20px;
}

#rounded-rectangle-h3 {
    margin-top: -1px;
}

/* Кнопка скачать бота 144 */
.btn-download-144 {
    font-family: 'Exo 2', sans-serif;
    width: 380px;
    height: 24px;
    background: rgb(0, 157, 224);
    color: #fff;
    border: 0;
    border-radius: 5px;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    margin-left: 15px;
    text-align: left;
}

/* Кнопка скачать бота 720 */
.btn-download-720 {
    font-family: 'Exo 2', sans-serif;
    width: 380px;
    height: 24px;
    background: rgb(226, 0, 26);
    color: #fff;
    border: 0;
    border-radius: 5px;
    position: relative;
    font-size: 10px;
    cursor: pointer;
    margin-left: 15px;
    text-align: left;
}

/* Кнопка удалить аксессуар общее */
.btn-delete-accessory {
    display: flex;
}

/* Кнопка удалить аксессуар */
.btn-delete-accessory button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    width: 12px;
    height: 12px;
    background: rgb(48, 48, 48);
    color: white;
    border: 0;
    border-radius: 50px;
    position: absolute;
    font-size: 9px;
    cursor: pointer;
    text-align: center;
    margin-left: 3px;
    margin-top: -10px;
}

/* Кнопка удалить аксессуар - при наведении */
.btn-delete-accessory button:hover {
    background: white;
    color: rgb(48, 48, 48);
}

/* Кнопка создать случайного бота */
.btn-random {
    background-image: url('../media/design/icons/arrow.png');
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: RGB(48, 48, 48);
    border: 0;
    border-radius: 115px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    margin-left: -728px;
    top: 440px;
}

/* Кнопка изменить рамку */
.btn-frame-round, .btn-frame-square {
    width: 40px;
    height: 40px;
    background-color: RGB(48, 48, 48);
    border: 0;
    border-radius: 115px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    margin-left: -512px;
    top: 440px;
}

.btn-frame-round {
    background-image: url('../media/design/icons/round.png');
    background-size: cover;
    background-position: center;
}

.btn-frame-square {
    background-image: url('../media/design/icons/square.png');
    background-size: cover;
    background-position: center;
}



/* Маска 144 - 1 */
#mask-144-1 {
    -webkit-mask: url('');
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
}

/* Маска 144 - 2 */
#mask-144-2 {
    -webkit-mask: url('');
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
}

/* Маска 720 - 1 */
#mask-720-1 {
    -webkit-mask: url('');
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
}

/* Маска 720 - 2 */
#mask-720-2 {
    -webkit-mask: url('');
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
}

/* Маска 720 - 3 */
#mask-720-3 {
    -webkit-mask: url('');
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
}

/* Маска 720 - 4 */
#mask-720-4 {
    -webkit-mask: url('');
    -webkit-mask-position: center center;
    -webkit-mask-size: 100% 100%;
}


/* Главное Меню ------------------------------------------------------ */

/* Меню общее */
.menu {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

/* Меню текст */
.menu A {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    margin: 0 1% 0 1%;
    color: RGB(48, 48, 48);
    position: relative;
    width: 110px;
}

/* Изменение цвета при наведении курсора мыши в меню */
.menu A:hover {
    color: RGB(0, 157, 224);
}


/* Общие стили ------------------------------------------------------- */

/* Стандартные стили общее */
.standard {
    font-family: 'Exo 2', sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

.standard p, .standard a {
    text-indent: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.standard h1, .standard h2, .standard h3, .standard h4 {
    text-align: center;
}

.standard p, .standard a, .standard h1, .standard h2, .standard h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.standard a {
    color: RGB(0, 157, 224);
    text-decoration: none;
}

/* Стандартные стили стандартная картинка */
.standard img {
    text-align:center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Стандартные стили большая картинка */
#big-image {
    text-align:center;
    width: 120%;
    margin-left: -10%;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Информация / объявления ------------------------------------------- */

/* Информация / объявления общее */
.red-message {
    font-family: 'Exo 2', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    background: repeating-linear-gradient(-45deg, rgb(226, 0, 26), rgb(226, 0, 26) 1%, rgb(226, 40, 26) 1%, rgb(226, 40, 26) 2%);
    padding: 1px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.red-message p, .red-message a {
    color: white;
    text-indent: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.red-message h1, .red-message h2, .red-message h3, .red-message h4 {
    text-align: center;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.red-message p, .red-message a, .red-message h1, .red-message h2, .red-message h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.red-message a {
    color: orange;
    text-decoration: none;
}

/* Картинки в коллекции ---------------------------------------------- */

/* Коллекция блок картинок */
.image-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 710px;
}

/* Коллекция - картинка */
.collection {
    margin-left: -13px;
    margin-right: -13px;
    margin-bottom: -22px;
}

/* Коллекция - картинка */
.collection img {
    width: 152px;
    height: auto;
    clip-path: inset(10px 10px 10px 10px round 10px);
}

/* Коллекция - кнопка к редактированию */
.collection button {
    width:  auto;
    height: auto;
    clip-path: inset(13px 18px 18px 18px round 10px);
    background: white;
    cursor: pointer;
}

/* Коллекция - обертка картинки */
.image-wrapper {
    position: relative;
    display: inline-block;
}

/* Коллекция - элемент при наведении */
.black-overlay {
    font-family: 'Exo 2', sans-serif;
    color: white;
    padding: 100px 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Коллекция - элемент при наведении */
.image-wrapper:hover .black-overlay {
    display: block;
}

/* Коллекция - элемент при наведении 144 */
#collection_image_id_144 {
    font-size: 12px;
    background-color: RGB(0, 157, 224);
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Коллекция - элемент при наведении 720 */
#collection_image_id_720 {
    font-size: 12px;
    background-color: RGB(226, 0, 26);
    padding-top: 3px;
    padding-bottom: 3px;
}


/* Пагинация коллекции ----------------------------------------------- */

/* Пагинация общее */
.pagination-up, .pagination-down {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 27px;
}

/* Пагинация общее - нижняя */
.pagination-down {
    margin-top: 33px;
    margin-bottom: 20px;
}

/* Пагинация общее - контейнер */
.step-links {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Пагинация поле ввода */
.currentUP input[name="page"], .currentDOWN input[name="page"] {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    border: none;
    position: relative;
    top: -2px;
}

/* Пагинация активные кнопки */
.active-pagination-small-btn-l, .active-pagination-small-btn-r, .active-pagination-big-btn-l, .active-pagination-big-btn-r {
    width: 25px;
    height: 25px;
    background: RGB(48, 48, 48);
    color: #fff;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}

/* Пагинация кнопки */
.active-pagination-big-btn-l, .active-pagination-big-btn-r {
    width: 20px;
    height: 20px;
}

/* Пагинация не активные кнопки */
.pagination-small-btn-l, .pagination-small-btn-r, .pagination-big-btn-l, .pagination-big-btn-r {
    width: 25px;
    height: 25px;
    background: RGB(154, 154, 154);
    color: #fff;
    border: 0;
    border-radius: 20px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}

/* Пагинация кнопки */
.pagination-small-btn-l, .active-pagination-small-btn-l {
    background-image: url('../media/design/icons/back.png');
    background-size: cover;
    background-position: center;}

/* Пагинация кнопки */
.pagination-small-btn-r, .active-pagination-small-btn-r {
    background-image: url('../media/design/icons/forward.png');
    background-size: cover;
    background-position: center;
}

/* Пагинация кнопки */
.pagination-big-btn-l, .pagination-big-btn-r {
    width: 20px;
    height: 20px;
}

/* Пагинация кнопки */
.pagination-big-btn-l {
    font-size: 8px;
}

/* Пагинация кнопки */
.pagination-big-btn-r {
    font-size: 8px;
}

/* Пагинация кнопки */
.active-pagination-big-btn-l, .pagination-big-btn-l {
    background-image: url('../media/design/icons/min.png');
    background-size: cover;
    background-position: center;
}

/* Пагинация кнопки */
.active-pagination-big-btn-r, .pagination-big-btn-r {
    background-image: url('../media/design/icons/max.png');
    background-size: cover;
    background-position: center;
}

/* Пагинация - вывод инфо */
.bots_on_page {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}


/* Футер ------------------------------------------------------------- */

/* Футер плашка общее */
.rounded-box-144, .rounded-box-720 {
    width: 1000px;
    min-width: 1000px;
    min-height: 120px;
    padding: 20px;
    background-color: rgb(48, 48, 48);
    border-radius: 50px 50px 0 0;
    text-align: left;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: -15px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    box-shadow: 0 0 0 3px rgb(226, 0, 26), 0 0 0 6px white;
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Футер плашка общее 720 */
.rounded-box-720 {
    box-shadow: 0 0 0 3px rgb(226, 0, 26), 0 0 0 6px white;
}

/* Футер плашка общее 144 */
.rounded-box-144 {
    box-shadow: 0 0 0 3px rgb(0, 157, 224), 0 0 0 6px white;
}

/* Футер текст */
.link-block p, .link-block a, .text-down p, .text-down a {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

/* Футер ссылки */
.link-block a {
    color: rgb(128, 128, 128);
    text-decoration: none;
}

/* Футер ссылки при наведении */
.link-block a:hover {
    color: white;
}

/* Футер заголовки */
.link-block h1, .link-block h2, .link-block h3, .link-block h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 14px;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

/* Футер заголовки */
.link-block h4 {
    display: inline-block;
    margin: 0;
}

/* Футер блок заголовки */
.link-block {
    display: inline-block;
    margin-left: 65px;
    margin-top: 10px;
}

/* Футер блок ссылок */
.link-block-small {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 7px;
    border-left: 1px solid gray;
    padding-left: 10px;
}

/* Футер блок под ссылками */
.text-down {
    margin-left: 80px;
    margin-top: 25px;
    border-left: 1px solid gray;
    padding-left: 10px;
    padding-right: 80px;
}

/* Футер блок языка */
.footer-languages {
    position: absolute;
    margin-top: 15px;
    margin-left: 850px;
    background-color: rgb(29, 29, 29);
    width: 68px;
    height: 26px;
    border-radius: 8px;
}

/* Футер блок языка - кнопки */
.button-footer-ru-active, .button-footer-en-not-active, .button-footer-ru-not-active, .button-footer-en-active {
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    width: 30px;
    height: 20px;
    color: rgb(230, 230, 230);
    border: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    margin-top: 3px;
    margin-left: 3px;
}

/* Футер блок языка - кнопки */
.button-footer-en-not-active {
    margin-left: 35px;
    background: rgb(29, 29, 29);
}

/* Футер блок языка - кнопки */
.button-footer-en-active {
    margin-left: 35px;
    background: rgb(108, 108, 108);
}

/* Футер блок языка - кнопки */
.button-footer-ru-not-active {
    background: rgb(29, 29, 29);
}

/* Футер блок языка - кнопки */
.button-footer-ru-active {
    background: rgb(108, 108, 108);
}

/* Футер блок соц сети */
.social-media {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-left: 821px;
    width: 100px;
    height: 40px;
    bottom: 19px;
}

/* Футер блок соц сети */
.social-media img {
    width: 40px;
    height: 40px;
}
