
{% if site_type == 'type-144' %}
    <div class="rounded-box-144">
{% else %}
    <div class="rounded-box-720">
{% endif %}

    <div class="footer-languages">

        <button class="button-footer-ru">RU</button>
        <button class="button-footer-en">EN</button>

    </div>

    <div class="social-media">

        <button class="button-social-twitter"></button>
        <button class="button-social-instagram"></button>

    </div>

    <div class="link-block">
        <h2>Ссылки</h2>
            <div class="link-block-small">
                <a href="http://127.0.0.1:8000/create/" target="_blank">Коллекция NFT Badbot 144p</a>
                <a href="http://127.0.0.1:8000/create/" target="_blank">Коллекция NFT Badbot 720p</a>
                <a href="http://127.0.0.1:8000/create/" target="_blank">Сообщество Twitter</a>
                <a href="http://127.0.0.1:8000/create/" target="_blank">Сообщество Instagram</a>
            </div>
    </div>

    <div class="link-block">
        <h2>Информация</h2>
            <div class="link-block-small">
                <a href="http://127.0.0.1:8000/create/" target="_blank">Об авторе</a>
                <a href="http://127.0.0.1:8000/create/" target="_blank">Instagram</a>
            </div>
    </div>

    <div class="text-down">
        <p>По всем вопросам обращайтесь по адресу art-sonik@mail.ru или пишите в социальных сетях проекта</p>
        <p>BADBOT 2024</p>
    </div>

</div>
