{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if content.index_message_ru %}

    <div class="red-message">
        {% if language == 'ru' %}
            {{ content.index_message_ru|safe }}
        {% else %}
            {{ content.index_message_en|safe }}
        {% endif %}
    </div>

{% endif %}

<div class="standard">

    {% if language == 'ru' %}
        {{ content.index_text_1_ru|safe }}
        {{ content.index_text_2_ru|safe }}
    {% else %}
        {{ content.index_text_1_en|safe }}
        {{ content.index_text_2_en|safe }}
    {% endif %}

</div>


{% endblock %}