{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}


    <div class="standard">

    </div>


{% endblock %}


<script>

    var maskElement = document.getElementById('mask-144-1-s');
    var maskElementGet = document.getElementById('mask-get-144-s');
    var imageUrl = maskElementGet.getAttribute('src');
    maskElement.style.webkitMaskImage = 'url(' + imageUrl + ')';

</script>

<script>

    var maskElement = document.getElementById('mask-144-2-s');
    var maskElementGet = document.getElementById('mask-get-144-s');
    var imageUrl = maskElementGet.getAttribute('src');
    maskElement.style.webkitMaskImage = 'url(' + imageUrl + ')';

</script>